//Variables
$yellow: #FFCC11;
$red: #f44d3c;
$blue: #33C3F0;
$grey: #E0DFDB;
$dark-grey: #2b2b2b;
$black: #000000;
$white: #FFFFFF;

//Import all css files
@import '../imports/ui/components/header/header.scss';
@import '../imports/ui/components/footer/footer.scss';
@import '../imports/ui/components/landing/landing.scss';
@import '../imports/ui/components/signin/signin.scss';
@import '../imports/ui/components/signup/signup.scss';
@import '../imports/ui/components/dashboard/dashboard.scss';
@import '../imports/ui/components/submit/submit.scss';

body {
	margin:0;
}

h1{
	text-align: center;
	margin: 10px 0 15px 0;
}

form {

	
	hr{
		margin-top: 10px;
	}

	input, a, select, textarea {
		width: 100%;
	}
}

@media (min-width: 750px) {

	form {
		background: rgba(220, 220, 220, 0.19);	
		padding: 30px;
		margin: 50px auto;
		border: solid thin black;
		border-radius: 6px;
		border-color: grey;
		max-width: 60%;
		-moz-box-shadow:    3px 3px 3px 4px #ccc;
		-webkit-box-shadow: 3px 3px 3px 4px #ccc;
		box-shadow:         3px 3px 3px 4px #ccc;
	}
}