.dashboard{
	text-align: center;

	.button {
		width: 100%;
	}

	hr {
		margin-top: 10px;
	}

	input {
		width: 100%;
	}

	table {
		width:100%;

		th, td{
			padding: 5px 5px;
		}

		.expense-row:hover {
			background: $blue;
			cursor: pointer;
		}
	}

	.right {
		text-align: right;

	}	
	.edit {
		float: right;
		width: 25px;
	}

	.empty {
		text-align: center;
	}

	ul{

		// display: inline-block;
		// text-align: center
		li{
			display: inline-block;
			padding: 3%;

			a{
				color: $black;
				text-decoration: none;

				&:hover{
					color: $red;
				}
			}
		}

		.active a{
			color: $red;
		}
	}

	.stats-table td{
		text-align: center;
	}


	.add-tool {

		margin: 0px;
		border: 1px solid $grey;
		border-radius: 3px;
		border-collapse: separate; 

		td{
			padding: 0px;
			border-style:hidden;

			input{
				border-style:hidden;
				margin:0px;
			}
		}

		.add-bar{
			background: $blue;
			width: 90%;
		}

		.edit-btn {
			border-left-width: 1px;
			border-left-style: solid;
			border-color: $grey;
			width: 10%;
			&:hover{
				cursor:pointer;	
			}
		}		

	}

	.search-tool {

		margin: 0px;
		border: 1px solid $grey;
		border-radius: 3px;
		border-collapse: separate; 

		td{
			padding: 0px;
			border-style:hidden;

			input{
				border-style:hidden;
				margin:0px;
			}
		}

		.search-bar {
			width: 80%;
		}

		.search-clear {
			width: 20%;
			&:hover{
				cursor:pointer;	
			}
			a{
				display: inline-block;
				text-align: center;
				img{
					width: 16px;
				}
			}
		}
	}


}

@media (max-width: 750px){

	.big{
		display:none;
	}
}