.dashboard{

	.button {
		width: 100%;
	}

	hr {
		margin-top: 10px;
	}

	table {
		width:100%;

		th, td{
			padding: 5px 5px;
		}
	}

	.right {
		text-align: right;

	}	
	.edit {
		float: right;
		width: 25px;
	}

	.empty {
		text-align: center;
	}
}

@media (max-width: 750px){

	.big{
		display:none;
	}
}