<div class="dashboard">
	<div class="container">
		<h1>Dashboard</h1>
		<hr>

		<div class="btn-group">
			<button class="edit-button" ng-click="dashboard.toggleEdit()">
				<img class="button-icon" src="/images/edit.svg" ng-show="dashboard.editMode"/>
				<img class="button-icon" src="/images/search.svg" ng-hide="dashboard.editMode"/>
			</button>
			<button class="button-primary add-button " ui-sref="submit">Add transaction</button>
		</div>

		<div class="btn-group">
			<input class="search-field" type="text" ng-model="dashboard.searchText" placeholder="Search" >
			<button class="clear-button" ng-click="dashboard.clearSearch()">
				<img class="button-icon" src="/images/clear.svg">
			</button>
		</div>

		<table class="stats-table" ng-show="dashboard.stats">
			<tr>
				<td><b>Life time</b></td>
				<td><b>This year</b></td>
				<td><b>Average</b></td>
			</tr>
			<tr>
				<td>{{dashboard.stats.lifeTime | currency }}</td>
				<td>{{dashboard.stats.yearYet | currency }}</td>
				<td>{{dashboard.stats.avg | currency }}</td>
			</tr>
		</table>
		<table>
			<tr>
				<th><a ng-click="dashboard.sortChanged()">Date</a></th>
				<th>Amount</th>
				<th class="big">Category</th>
				<th class="big">Method</th>
				<th>Description</th>
				<!-- <th class="right">Edit</th> -->
			</tr>
			<tr class="expense-row" ng-show="dashboard.expenses.length" dir-paginate="expense in dashboard.expenses | itemsPerPage: dashboard.perPage" total-items="dashboard.expensesCount" ng-click="dashboard.rowclick(expense)">
				<!-- <td>{{expense.date | date }}</td> -->
				<td>{{expense.date | date: 'MMM/d'}}</td>
				<!-- <td>{{expense.amount | currency | limitTo: 8}}{{expense.amount.toString().length > 8 ? '...' : ''}}</td> -->
				<td>{{expense.amount | currency }}</td>
				<!-- <td>{{expense.amount > 999.99 ? 999.99 : expense.amount | currency }}{{expense.amount > 999.99 ? '+' : ''}}</td> -->
				<td class="big">{{expense.category}}</td>
				<td class="big">{{expense.payment}}</td>
				<td>{{expense.description | limitTo: 12}}{{expense.description.length > 12 ? '...' : ''}}</td>
				<!-- <td><a ui-sref="submit({transaction_id : expense._id})"><img class="edit" src="/images/edit.svg"></a></td> -->
			</tr>
		</table>
		<dir-pagination-controls on-page-change="dashboard.pageChanged(newPageNumber)"></dir-pagination-controls>
		<span class="empty" ng-hide="dashboard.expenses.length">
			<p><b>no transactions yet.</b> submit one</p>
			<a class="button" ui-sref="submit">here</a>
		</span>
	</div>
</div>