<div class="dashboard">
	<div class="container">
		<h1>Dashboard</h1>
		<hr>
		<a class="button button-primary" ui-sref="submit">Add transaction</a>
		<input type="search" ng-model="dashboard.searchText" placeholder="Search" />
		<table>
			<tr>
				<th><a ng-click="dashboard.sortChanged()">Date</a></th>
				<th>Amount</th>
				<th class="big">Category</th>
				<th>Description</th>
				<th class="big">Payment Method</th>
				<th class="right">Edit</th>
			</tr>
			<tr ng-show="dashboard.expenses.length" dir-paginate="expense in dashboard.expenses | itemsPerPage: dashboard.perPage" total-items="dashboard.expensesCount">
				<td>{{expense.date | date: 'MMM/d'}}</td>
				<!-- <td>{{expense.amount | currency | limitTo: 8}}{{expense.amount.toString().length > 8 ? '...' : ''}}</td> -->
				<td>{{expense.amount > 999.99 ? 999.99 : expense.amount | currency }}{{expense.amount > 999.99 ? '+' : ''}}</td>
				<td class="big">{{expense.category}}</td>
				<td>{{expense.description | limitTo: 12}}{{expense.description.length > 12 ? '...' : ''}}</td>
				<td class="big">{{expense.payment}}</td>
				<td><a ui-sref="submit({transaction_id : expense._id})"><img class="edit" src="/images/edit.svg"></a></td>
			</tr>
		</table>
		<dir-pagination-controls on-page-change="dashboard.pageChanged(newPageNumber)"></dir-pagination-controls>
		<span class="empty" ng-hide="dashboard.expenses.length">
			<p><b>no transactions yet.</b> submit one</p>
			<a class="button" ui-sref="submit">here</a>
		</span>
	</div>
</div>