<div class="container">
	<div class="submitform">
		<form ng-submit="bill.record(bill.recur)">
			<h1>Bill</h1>
			<hr>
			<label>Date:</label>
			<input type="date" name="date" ng-model="bill.recur.date" required>
			<label>Amount:</label>
			<input type="number" name="amount" step="0.01" placeholder="9.99" ng-model="bill.recur.amount" required autofocus>
			<label>Category:</label>
			<select ng-model="bill.recur.category" >
				<option>work</option>
				<option>refund</option>
				<option>other income</option>
				<option>dining</option>
				<option>leisure</option>
				<option>living</option>
				<option>transportation</option>
				<option>fitness</option>
				<option>education</option>
				<option>electronics</option>
				<option>gift</option>
				<option>donation</option>
				<option>groceries</option>
				<option>coffee</option>
				<option>alcohol</option>
				<option>home</option>
				<option>car</option>
				<option>phone</option>
				<option>fee</option>
			</select>
			<label>Payment:</label>
			<select ng-model="bill.recur.payment">
				<option>credit</option>
				<option>debit</option>
				<option>cash</option>
			</select>
			<div>
				<input id="recurring" class="inline" type="checkbox" checked="checked" disabled="disabled">
				<label class="inline" for="recurring">Recurring?</label>
			</div>
			<div ng-show="bill.recurring">
				<select ng-model="bill.frequency">
					<option>monthly</option>
					<option>bimonthly</option>
				</select>				
			</div>
			<label>Description:</label>
			<textarea placeholder="dinner at mels" ng-model="bill.recur.description"></textarea>
			<a class="button" ng-click="bill.pay()">Pay</a>
			<input class="button-primary" type="submit" value="Submit" required>
			<a class="button delete" ng-click="bill.remove()">Delete</a>
			<a class="button" ui-sref="dashboard()">Cancle</a>
		</form>	
	</div>
</div>