<div class="recurring">
	<div class="container">
		<h1>Recurring</h1>
		<hr>

		<table>
			<tr>
				<th><a>Date</a></th>
				<th>Amount</th>
				<th class="big">Category</th>
				<th class="big">Method</th>
				<th>Description</th>
			</tr>
			<tr class="expense-row" ng-show="recurring.recurring.length" ng-repeat="recur in recurring.recurring">
				<td>{{recur.amount | currency }}</td>
				<td class="big">{{recur.category}}</td>
				<td class="big">{{recur.payment}}</td>
				<td title={{recur.description}}>{{recur.description | limitTo: 12}}{{recur.description.length > 12 ? '...' : ''}}</td>
			</tr>
		</table>
		<span class="empty" ng-hide="recurring.recurring.length">
			<p><b>no transactions yet.</b> submit one</p>
			<a class="button" ui-sref="submit">here</a>
		</span>
	</div>
</div>