<div class="stats">
	<div class="container">
		<h1>Stats</h1>
		<hr>

		<div>{{stats.weekly}}</div>

		<table>
			<tr>
				<td><b>Monthly</b></td>
				<td ng-repeat="i in stats.monthly.earning track by $index" ng-class="{big:$index<stats.monthly.earning.length-stats.mobileCap}">
					{{(stats.start.getMonth()+$index)%12+1}}/{{stats.start.getFullYear()+stats.Math.floor((stats.start.getMonth()+$index)/12)-2000}}
				</td>

			</tr>
			<tr>
				<td>Earning</td>
				<td ng-repeat="i in stats.monthly.earning track by $index" ng-class="{big:$index<stats.monthly.earning.length-stats.mobileCap}">
					{{stats.monthly.earning[$index] | currency}}
				</td>
			</tr>
			<tr>
				<td>Spending</td>
				<td ng-repeat="i in stats.monthly.spending track by $index" ng-class="{big:$index<stats.monthly.earning.length-stats.mobileCap}">
					{{stats.monthly.spending[$index] | currency}}
					
				</td>
			</tr>
		</table>
	</div>
</div>