.listbills{
	text-align: center;

	.add-button {
		width: 100%;
	}

	.button {
		width: 100%;
	}

	hr {
		margin-top: 10px;
	}

	table {
		width:100%;

		th, td{
			padding: 5px 5px;
		}

		.expense-row:hover {
			background: $grey;
			cursor: pointer;
		}
	}

	.empty {
		text-align: center;
	}

	@media (max-width: 750px){

		.big{
			display:none;
		}
	}
}