.header{
	background-color: $dark-grey;

	.logo {
		height:50px;
		float: left;
	}

	ul {
		display: inline-block;
		float: right;
		margin: 0px;
	}
	
	li {
		display: inline-block;
		padding: 13px 10px 0 0;
	}

	a {
		color: $white;
		text-decoration: none;

		&:hover{
			color: $red;

		}
	}

}


@media (max-width: 750px) {
	.header{
		// display: none;
	}
}