.submitform {

	.delete {
		color: $white;
		background-color: $red;
		border-color: $red;
	}

	.inline {
		display:inline;
		width:5%;
	}


	.payment{
		width:32%;
		display:inline-block;
	}

	.payment input{
		width:auto;
		display:inline;
	}
	
}