<div class="submitform">
	<div class="container">
		<form ng-submit="submit.record(submit.expense)">
			<h1>Make money work</h1>
			<hr>
			<label>Date:</label>
			<input type="date" name="date" ng-model="submit.expense.date" required>
			<label>Amount:</label>
			<input type="number" name="amount" step="0.01" placeholder="9.99" ng-model="submit.expense.amount" required autofocus>
			<label>Category:</label>
			<select ng-model="submit.expense.category" >
				<option>coffee</option>
				<option>dining</option>
				<option>transportation</option>
				<option>leisure</option>
				<option>fitness</option>
				<option>fashion</option>
				<option>accomodation</option>
				<option>groceries</option>
				<option>entertainment</option>
				<option>living</option>
				<option>education</option>
				<option>car</option>
				<option>phone</option>
				<option>fee</option>
				<option>alcohol</option>
				<option>electronics</option>
				<option>gift</option>
				<option>home</option>
				<option>donation</option>
				<option>insurance</option>
				<option>work</option>
				<option>refund</option>
				<option>other income</option>
			</select>
			<label>Payment:</label>
			<div>
				<label class="payment"><input class="payment" type="radio" ng-model="submit.expense.payment" value="credit">credit</label>
				<label class="payment"><input class="payment" type="radio" ng-model="submit.expense.payment" value="debit">debit</label>
				<label class="payment"><input class="payment" type="radio" ng-model="submit.expense.payment" value="cash">cash</label>
			</div>
			<div ng-hide="submit.transaction_id">
				<input id="bill" class="inline" type="checkbox" ng-model="submit.bill">
				<label class="inline" for="bill">Recurring?</label>
			</div>
			<div ng-show="submit.bill">
				<select ng-model="submit.frequency">
					<option>monthly</option>
					<option>bimonthly</option>
					<option>quarterly</option>
					<option>every 2 weeks</option>
				</select>				
			</div>
			<label>Description:</label>
			<textarea placeholder="dinner at mels" ng-model="submit.expense.description"></textarea>
			<input class="button-primary" type="submit" value="Submit" required>
			<a class="button delete" ng-show="submit.expense._id" ng-click="submit.deleteExpense()">Delete</a>
			<a class="button" ui-sref="dashboard({searchText:submit.searchText})">Cancle</a>
		</form>	
	</div>
</div>