<div class="container">
	<div class="userform">
		<form ng-submit="signin.login(signin.user.email, signin.user.password)">
			<h1>Sign in</h1>
			<hr>
			<label>Email:</label>
			<input type="text" name="email" placeholder="example@gmail.com" ng-model="signin.user.email" required>
			<label>Password:</label>
			<input type="password" name="password" ng-model="signin.user.password" required>
			<br>
			<input type="submit" class="button-primary" value="Sign in">
			<p>did you <a href="#" ui-sref="forgot">forget your password?</a> or you can..</p>
			<a class="button" ui-sref="signup">Sign up</a>
		</form>
	</div>
</div>